{% extends 'my_website/base.html' %}

{% load static %}

{% block content %}

<main class="l-main">
    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
        <div class="home__data">
            <h1 class="home__title">Hi,<br>I am <span class="home__title-color">Forrest</span> a<br>Software Engineer</h1>

            <a href="{% url 'my_website:contact' %}" class="button">Contact</a>
        </div>

        <div class="home__social">
            <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
            <a href="" class="home__social-icon"><i class='bx bxl-github' ></i></a>
        </div>

    </section>
</main>

{% endblock %}
