{% extends 'my_website/base.html' %}

{% load static %}

{% block content %}

<main class="l-main">
    <!--===== SKILLS =====-->
    <section class="skills section" id="skills">
        <h2 class="section-title">Skills</h2>

        <div class="skills__container bd-grid">
            <div>
                <h2 class="skills__subtitle">Professional Skills</h2>
                <p class="skills__text">
                    These represent my confidence level in my skills with the following languages.
                </p>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxl-html5 skills__icon'></i>
                        <span class="skills__name">Python</span>
                    </div>
                    <div class="skills__bar skills__java">

                    </div>
                    <div>
                        <span class="skills__percentage">100%</span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxl-css3 skills__icon'></i>
                        <span class="skills__name">Java</span>
                    </div>
                    <div class="skills__bar skills__cplusplus">

                    </div>
                    <div>
                        <span class="skills__percentage">85%</span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxl-javascript skills__icon' ></i>
                        <span class="skills__name">HTML/CSS</span>
                    </div>
                    <div class="skills__bar skills__python">

                    </div>
                    <div>
                        <span class="skills__percentage">75%</span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxs-paint skills__icon'></i>
                        <span class="skills__name">JavaScript</span>
                    </div>
                    <div class="skills__bar skills__html">

                    </div>
                    <div>
                        <span class="skills__percentage">70%</span>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxs-paint skills__icon'></i>
                        <span class="skills__name">C++</span>
                    </div>
                    <div class="skills__bar skills__html">

                    </div>
                    <div>
                        <span class="skills__percentage">65%</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
